body {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

/* Navbar Styling */
.navbar {
    display: flex;
    background: black;
    color: white;
    justify-content: space-around;

}

.navbar,
.sectionone{
    background-color: #1F2937;
}

.logo {
    font-weight: bold;
    font-size: 24px;
    color: #F9FAF8;
    display: flex;
    justify-content: center;
    align-items: center;

}

ul {
    font-size: 18px;
    color: #E5E7EB;
    display: flex;
    gap: 30px;
    list-style-type: none;
    margin: 0;
    padding: 16px;

}

a {
    text-decoration: none;
    color: white;
}

/* Section One Styling */
.sectionone {
    display: flex;
    justify-content: center;
    padding: 70px;
}

.container {
   
}
.sectionone h1 {
    color: #F9FAF8;
    font-weight: 900;
    font-size: 48px;
}

.sectionone p {
    color: #E5E7EB;
    font-size: 18px;
}

.sectionone button {
    color:white;
    font-weight: bold;
    background-color: #3882f6;
    padding: 8px;
    border-radius: 10px;
}

.image {
    background-color: gray;
}

/* Section Two Styling */

.sectiontwo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.ilustrations {
    display: flex;
    justify-content: center;
    gap: 10px;
}

h2 {
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
}

.ilust div {
    border: 2px solid #3882f6;
}

/* Section Three Styling */
.sectionthree {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #E5E7EB;
    padding: 50px 100px;
}

.quote {
    font-size: 36px;
    font-style: italic;
    color: #1f2937;
}

.speaker {
    font-weight: bold;
    font-size: 30px;
    align-self: flex-end;
}
/* Section Four Styling */
.sectionfour {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
}

.card {
    background-color: #3882f6;
    border-radius: 8px;
    display: flex;
    justify-content: space space-evenly;
    padding: 30px;
    gap: 20px;
}

h3 {
    color: white;
    font-weight: bold;
}

.container p{
    color: white;
    font-size: 18px;
}

.card button {
    background-color: #3882f6;
    border: 2px solid white;
    color: white;
}
/* Footer Styling */
.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 28px;
    background-color: #1F2937;
    color: white;
}
