@font-face {
    font-family: 'Roboto-Regular';
    src: url('./Roboto/Roboto-Regular.ttf');
}

:root {
    --blue: #3882F6;
    --white: #F9FAF8;
    --gray: #E5E7EB;
    --dark: #1f2937;
    --secondary: 18px;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto-Regular';
}

/* header Styling */
.header {
    background-color: var(--dark);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logo {
    color: var(--white);
    font-size: 24px;
    font-weight: bold;
}

ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    gap: 12px;;
}

a {
    color: var(--gray);
    font-size: var(--secondary);
    text-decoration: none;
}

/* Section 1 Styling */
.section1 {
    background-color: var(--dark);
    display: flex;
    justify-content: center;
    padding: 50px;
    gap: 30px;
}

.section1 h1 {
    color: var(--white);
    font-size: 48px;
    font-weight: 900;
}

.section1 p {
    color: var(--gray);
    font-size: var(--secondary);
}

.section1 button {
    color: var(--white);
    background-color: var(--blue);
    font-weight: bold;
    border-radius: 5px;
    padding: 5px 15px;
}

.section1 .container {
    flex: 1 1 250px;
    max-width: 450px;
}

.image {
    background-color: var(--gray);
    flex: 1 1 250px;
    max-width: 450px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image div {
    text-align: center;
    color: black;
}

/* Section 2 Styling */

.section2 h2 {
    font-size: 36px;
    color: var(--dark);
    font-weight: 900;
    text-align: center;
}

.ilustrations {
    display: flex;
    justify-content: center;
    padding: 50px;
    gap: 32px;
}

.section2 .ilust {
    max-width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.section2 .ilust div {
    width: 200px;
    height: 200px;
    border: 2px solid #3882F6;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* Section 3 Styling */
.section3 {
    background-color: var(--gray);
    padding: 50px 150px;
}

.section3 .quote {
    font-size: 36px;
    font-style: italic;
    color: black;
}

.section3 .speaker {
    font-size: 30px;
    color: var(--dark);
    font-weight: bold;
    text-align: right;
}

/* Section 4 Styling */
.section4 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 60px 100px;
}

.card {
    background-color: var(--blue);
    border-radius: 8px;
    padding: 30px 60px;
    justify-content: space-evenly;
    align-items: center;
    flex: 1;
    display: flex;
}

.card h3 {
    color: var(--white);
    font-weight: bold;
}

.card p {
    color: var(--gray);
    font-size: var(--secondary);
}

.section4 button {
    border: 2px solid var(--white);
    border-radius: 5px;
    background-color: var(--blue);
    color: var(--white);
    padding: 3px 30px;
    height: 30px;
}

/* Footer Styling */
.footer {
    background-color: var(--dark);
    color: var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}






